@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,500;0,600;1,300&display=swap");

div.paginationButtons {
  margin-left: 284px;
  margin-bottom: 200px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Work Sans";
  font-size: 14px;
  color: #545f7d;
  button {
    background-color: transparent;
    border: 0;
    font-family: "Work Sans";
    font-size: 14px;
    color: rgb(84, 95, 125, 0.6);
    margin: 4px;
  }
  .active {
    color: #545f7d;
  }

  div:last-child {
    span:first-child {
      margin-right: 4px;
    }
    span:last-child {
      margin-left: 4px;
    }
    span {
      position: relative;
      top: 2px;
      background-color: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      border: 0;
      padding: 4px;
      display: flex;
      align-items: center;
    }
    span:last-child {
      img {
        transform: rotate(180deg);
      }
    }
  }
}
