@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,500;0,600;1,300&display=swap");
.paginationButtons {
  margin-left: 284px;
  margin-bottom: 400px;
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Work Sans";
  font-size: 14px;
  color: rgb(84, 95, 125);
  flex-wrap: wrap;
  div:first-child {
    position: relative;
    min-width: 210.406px;
    button {
      background-color: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      font-weight: 500;
      color: #213f7d;
      padding: 5px 10px;
      position: relative;
    }
    img {
      margin-left: 10px;
      position: relative;
      top: 2px;
    }
  }
  div:nth-child(2) {
    margin-right: 15px;
    display: flex;
    align-items: center;
  }
  button {
    background-color: transparent;
    border: 0;
    font-family: "Work Sans";
    font-size: 14px;
    color: #545f7d99;
    margin: 4px;
    cursor: pointer;
    position: relative;
    outline: none;
  }
  .active {
    color: #545f7d;
    font-weight: 500;
  }
  .dot {
    color: rgb(84, 95, 125, 0.6);
  }

  div:last-child {
    span:first-child {
      margin-right: 4px;
      cursor: pointer;
    }
    span:last-child {
      margin-left: 4px;
      cursor: pointer;
    }
    span {
      position: relative;
      top: 2px;
      background-color: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      border: 0;
      padding: 4px;
      display: flex;
      align-items: center;
    }
    span:last-child {
      img {
        transform: rotate(180deg);
      }
    }
  }
  .rowDropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: auto;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px,
      rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
    div:first-child {
      background-color: #213f7d;
      color: #fff;
      width: 100%;
      text-align: center;
      &:hover {
        color: #fff;
        background-color: #213f7d;
      }
    }
    & div:hover {
      background-color: rgba(57, 205, 204, 0.06);
      width: 100%;
      display: flex;
      justify-content: center;
    }
    div {
      padding: 10px 0;
      margin-top: 10px;
      margin: auto;
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .rowValues {
    min-width: 22.891px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 772px) {
  .paginationButtons {
    justify-content: center;
    div:nth-child(2) {
      margin-top: 20px;
    }
  }
}
