.DashboardURLSlug {
  margin-top: 150px;
  span {
    font-family: "Work Sans";
    font-weight: 500;
    font-size: 24px;
    color: #213f7d;
    margin-left: 26px;
  }
}

.userCountSidebar {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 0;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

