@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,500;0,600;1,300&display=swap");

.UsersTable {
  margin-left: calc(258px + 26px);
  overflow-x: auto;
  background-color: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin-right: 15px;
  table {
    padding: 28px;
    padding-bottom: 0;
    width: 992px;
    margin-inline: auto;
    th {
      text-align: left;
      font-size: 12px;
      font-weight: 600;
      font-family: "Work Sans", sans-serif;
      color: #545f7d;
      width: 17%;
      span {
        position: relative;
        bottom: 4px;
        right: 5px;
        text-transform: uppercase;
      }
      &:nth-child(4),
      &:nth-child(6) {
        padding-left: 18px;
      }
    }

    tbody {
      position: relative;
      tr {
        font-family: "Work Sans", sans-serif;
        font-size: 13px;
        color: #545f7d;
        border-bottom: 1px solid #000;
        position: relative;
        td,
        span {
          padding: 0;
          padding-top: 20px;
          padding-bottom: 20px;
          &:nth-child(4),
          &:nth-child(6) {
            padding-left: 18px;
          }
        }
        &:nth-child(6) span {
          background-color: rgba(84, 95, 125, 0.06);
          border-radius: 100px;
          color: #545f7d;
        }
        &:not(table tr:first-child)::after {
          position: absolute;
          content: "";
          border-bottom: 1px solid rgba(33, 63, 125, 0.1);
          width: 100%;
          position: absolute;
          left: 0;
          right: 0;
        }
      }
      // div {
      //   border-bottom: 1px solid rgba(33, 63, 125, 0.1);
      //   width: 100%;
      //   position: absolute;
      //   left: 0;
      //   right: 0;
      //   &:last-child {
      //     display: none;
      //   }
      // }
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 1274px) {
  .UsersTable {
    margin-left: 276px;
  }
}
