@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,500;0,600;1,300&display=swap");

$d-none: none;
$d-block: block;

@mixin display-card($isTrue: true) {
  @if $isTrue {
    display: $d-none;
  } @else {
    display: $d-block;
  }
}

.UsersTable {
  margin-left: calc(258px + 26px);
  overflow-x: auto;
  margin-right: 15px;
  @include display-card($isTrue: false);
  table {
    padding: 28px;
    padding-bottom: 0;
    width: 992px;
    margin-inline: auto;
    th {
      text-align: left;
      font-size: 12px;
      font-weight: 600;
      font-family: "Work Sans", sans-serif;
      color: #545f7d;
      width: 17%;
      img {
        cursor: pointer;
      }
      span {
        position: relative;
        bottom: 4px;
        right: 5px;
        text-transform: uppercase;
      }
      &:nth-child(4),
      &:nth-child(6) {
        padding-left: 18px;
      }
    }

    tbody {
      position: relative;
      tr {
        font-family: "Work Sans", sans-serif;
        font-size: 13px;
        color: #545f7d;
        border-bottom: 1px solid #000;
        position: relative;
        td,
        span {
          padding: 0;
          padding-top: 20px;
          padding-bottom: 20px;
          &:nth-child(4),
          &:nth-child(6) {
            padding-left: 18px;
          }
        }
        &:nth-child(6) span {
          background-color: rgba(84, 95, 125, 0.06);
          border-radius: 100px;
          color: #545f7d;
        }
        &:not(table tr:first-child)::after {
          position: absolute;
          content: "";
          border-bottom: 1px solid rgba(33, 63, 125, 0.1);
          width: 100%;
          position: absolute;
          left: 0;
          right: 0;
        }
      }
      td:last-child {
        position: relative;
        cursor: pointer;
        div {
          position: absolute;
          right: 8px;
          width: 180px;
          height: 130px;
          background: #ffffff;
          border: 1px solid rgba(84, 95, 125, 0.04);
          box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
          border-radius: 4px;
          z-index: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          top: 20px;
          right: 0px;

          ul {
            list-style-type: none;
            margin-left: -16px;
            position: absolute;
            left: 0;
            li {
              padding-block: 13px;
              font-weight: 500;
              font-size: 14px;
              color: #545f7d;
              display: flex;
              cursor: pointer;
              img {
                margin-right: 10px;
              }
              a {
                text-decoration: none;
                color: #545f7d;
              }
            }
          }
        }
        .false {
          display: flex;
        }
        .true {
          display: none;
        }
      }
      // div {
      //   border-bottom: 1px solid rgba(33, 63, 125, 0.1);
      //   width: 100%;
      //   position: absolute;
      //   left: 0;
      //   right: 0;
      //   &:last-child {
      //     display: none;
      //   }
      // }
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }

  .filter {
    position: absolute;
    left: 25px;
    top: 60px;
    min-width: 250px;
    background-color: #fff;
    z-index: 1;
    min-height: 270px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid rgba(84, 95, 125, 0.14);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 5px;
    & > div {
      padding: 10px 0;
      padding-inline: 20px;
      font-family: "Work Sans";
      font-weight: 500;
      font-size: 14px;
      color: rgba(84, 95, 125, 0.7);
      input,
      .date {
        background: #ffffff;
        border: 1px solid rgb(33, 63, 125, 0.2);
        border-radius: 8px;
        width: 100%;
        height: 40px;
        margin-top: 2px;
        text-indent: 10px;
        text-align: left;
        color: rgba(84, 95, 125, 0.7);
        margin-top: 5px;
        font-family: "Work Sans";
        outline: none;
        &[type="number"] {
          height: 38px;
        }
        &[type="button"] {
          cursor: pointer;
        }
        &::placeholder {
          color: rgba(84, 95, 125, 0.7);
        }
      }

      .date {
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        img {
          position: absolute;
          right: 10px;
          top: 14px;
          cursor: pointer;
        }
        .calendar {
          top: 12px;
        }
        span {
          position: relative;
          top: 12px;
          left: 3px;
          color: rgba(84, 95, 125, 0.7);
        }
      }

      &:last-child {
        display: flex;
        justify-content: space-between;
        input {
          text-align: center;
          border-radius: 8px;
        }
        input:first-child {
          margin-right: 5px;
          color: #545f7d;
          color: rgba(84, 95, 125, 0.7);
        }
        input:last-child {
          margin-left: 5px;
          background: #39cdcc;
          border: 1px solid #39cdcc;
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 1274px) {
  .UsersTable {
    margin-left: 276px;
  }
}
@media (max-width: 772px) {
  .usersTable {
    margin-left: 74px !important;
  }
}
