@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,500;0,600;1,300&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  position: relative;
  z-index: 1;

  div:nth-child(1) {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 22px;
    img:first-child {
      width: 20.63px;
    }
    span {
      color: #213f7d;
      font-weight: 900;
      margin-inline: 10px;
      font-size: 26px;
      font-weight: 600;
    }
    input {
      background: #ffffff;
      border: 1px solid rgba(33, 63, 125, 0.2);
      border-radius: 4px;
      width: 350px;
      height: 40px;
      text-indent: 10px;
      margin-left: 160px;
      outline: none;
      font-family: "Work Sans", sans-serif;
    }
    button {
      position: absolute;
      right: 0;
      background-color: #39cdcc;
      border: 1px solid #39cdcc;
      border-radius: 4px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      height: 40px;
      width: 8%;

      img {
        width: auto !important;
      }
    }
  }

  div:nth-child(2) {
    display: flex;
    align-items: center;
    margin-right: 22px;
    a,
    button,
    svg {
      margin-right: 30px;
    }
    a {
      color: #213f7d;
    }
    a + img {
      margin-right: 30px;
    }
    img + img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
    }
    span {
      font-family: "Work Sans", sans-serif;
      color: #213f7d;
      font-weight: 500;
    }

    span + img {
      position: relative;
      top: 4px;
      left: 8px;
    }
  }
}

@media (max-width: 1000px) {
  .navbar {
    div:nth-child(1) {
      input {
        margin-left: 110px;
      }
    }
  }
}

@media (max-width: 878px) {
  .navbar {
    div:nth-child(1) {
      input,
      button {
        display: none;
      }
    }
  }
}
