@font-face {
  font-family: "Avenir Next";
  src: url("../src/fonts/AvenirNextLTPro-Regular.otf") format("woff");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e534;
}

input {
  font-family: "Avenir Next";
}

img {
  object-fit: contain;
}

button {
  cursor: pointer;
}

/* input::-ms-reveal,
input::-ms-clear {
  display: none;
} */
